dist
.env
node_modules

.odo/odo-file-index.json

notes.txt
kubeconfig
kubeconfig*

example-*.json

*.log
.dockerdata

secrets.yaml
config.yaml

db

.yarn
.claude/settings.local.json
*.sqlite
.DS_Store